
// Colors
$blue-1: rgb(75, 172, 233);
$blue-2: rgb(46, 45, 85);

// Buttons 
$border-radius--default: 20px;

// Hero
$hero-height: 75vh;

// Menu
$menu-underline-from-center-bg: #fff;
$menu-underline-from-center-border-thickness: 0.2rem;