
$path-images: '/assets/img/';

// Colors£
$blue-1: #00aeef;
$blue-2: #312d5a;
$blue-3: #d9f0f7;
$green-1: #cbf984;

// Buttons 
$border-radius--default: 30px;
$btn-border--default: 3px;

// Menu
$menu-underline-from-center-bg: #fff;
$menu-underline-from-center-border-thickness: 0.4rem;

$section-margin: 4rem;