
@include breakpoint(small only) {
    .what-news-text {
        padding: 1.5rem 1rem;
    }

    // hero
    .hero-section {
        h1 {
            font-size: 3rem;
        }
    }

    .logo {
        max-width: 320px;
        margin-right: 30px;
    }

    .logo-wrapper {
        text-align: left;
    }

    #here-to-help p {
        font-size: 2rem;
    }

    .std-page-padding {
        padding: 4rem 1rem;
    }

    #adopt {
        .btn-panel a {
            display: block;
        }

        .btn-panel a {
            width: 100%;
        }

        .btn-panel a:first-child {
            margin-right: 0;
        }

        .btn-panel a:last-child {
            margin-left: 0;
        }
    }

    #acheivements .cell {
        padding: 0;
    }

    #acheivements .cell:first-child {
        padding: 5rem 0;
    }
}

@include breakpoint(medium down) {
    .hover-underline-menu {
        .nav {
            li {
                display: block;
                padding: .8rem;
            }
        }
    }

    .what-we-do-desc {
        padding: 4rem 3rem;
    }

    .hero-section {
        background-position: 74% 0% !important;
    }

    .toggle-open {
        position: absolute;
        right: 2rem;
        top: 1rem;
        display: block !important;
    }

    nav {
        display: none;
    }

    header {
        margin-bottom: 1.5rem;
    }

    section#donation .donate-desc {
        padding: 0rem 2rem 1rem 2rem;
    }
}

@include breakpoint(medium) {
    .std-page-padding {
        padding: 4rem 5rem;
    }


}

@include breakpoint(large up) {
    section#donation .donate-desc {
        padding: 0rem 3rem;
    }
}
