
.btn--defaults {
    border-radius: $border-radius--default;
    background: none;
    font-weight: bold;
    font-family: galanoBold;
    font-size: 1.1rem;
}

.btn-adopt, .btn-donate {
    width: 6em;
}

.btn-adopt {
    margin: 20px 5px 0 0;
}

.btn-donate {
    margin: 20px 5px 0 0;
}

.btn-email {
    margin-top: 20px;
}

.btn-monthly {
    margin-right: 10px;
}
