body {
    padding-top: 2rem;
    color: $blue-2;
}

.bg-green {
    background: $green-1 !important;
}

.logo {
    background: url('/assets/img/logo.png') no-repeat;
    background-size: 100%;
    font-size: 2rem;
    max-width: 550px;
    min-height: 85px;

    .logo__strapline {
        font-size: 1rem;
        display: block;
        color: $blue-1;
    }
}

.inter-section {
    margin: $section-margin auto;
}

.find-a-friend {
    width: 50%;
}

.btn--defaults {
    border-radius: $border-radius--default;
    background: none;
    font-weight: bold;
}

.btn-adopt {
    margin: 20px 5px 0 0;
}

.btn-donate {
    margin: 20px 5px 0 0;
}

.btn-email {
    margin-top: 20px;
}

.scheme-wb2w {
    border: $btn-border--default solid $white;
    background: $blue-2;
    color: $white;
}

.scheme-g1g1b2 {
    border: $btn-border--default solid $green-1;
    background: $green-1;
    color: $blue-2;
}

.scheme-g1g1b2:hover {
    border: $btn-border--default solid lighten($green-1, 50%);
    background: lighten($green-1, 50%);
    color: $blue-2;
}

.scheme-wb1w {
    border: $btn-border--default solid $white;
    background: $blue-1;
    color: $white;
}

.scheme-b2wb2 {
    border: $btn-border--default solid $blue-2;
    background: $white;
    color: $blue-2;
}

.scheme-b2wb2:hover {
    background: $blue-2;
}

.scheme-b1wb1 {
    border: $btn-border--default solid $blue-1;
    background: $white;
    color: $blue-1;
}

.scheme-b1wb1:hover {
    background: $blue-1;
}

.scheme-b1b1w {
    border: $btn-border--default solid $blue-1;
    background: $blue-1;
    color: $white;
}

.scheme-b1b1w:hover {
    border: $btn-border--default solid #1779ba;
    background: #1779ba;
}

.hero-section {
    background: url('/assets/img/hero.png') 50% no-repeat;
    background-size: cover;
    height: $hero-height;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-section-text {
        position: relative;
        top: 20%;
        color: $white;
        text-shadow: 1px 1px 2px $black;
    }
}

.hover-underline-menu {
    width: 100%;    

    .nav {
        background-color: $menu-underline-from-center-bg;
        margin: 3rem;

        a {
            color: $blue-2;
            padding: 1.2rem 1.5rem;
            font-weight: bold;
        }

        ul {
            margin-left: none;
        }

        li {
            display: inline-block;
        }

        .underline-from-center {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: calc(100% - #{$menu-underline-from-center-border-thickness});
                border-bottom: $menu-underline-from-center-border-thickness solid $blue-1;
                left: 50%;
                right: 50%;
                transition: all 0.5s ease;
            }

            &:hover::after {
                left: 0;
                right: 0;
                transition: all 0.5s ease;
            }
        }
    }
}

.what-we-do-desc {
    padding: 5rem 4rem;
    color: $white;
    overflow: auto;
}

section#what-we-do {
    background: $blue-1;

    .bg-grey {
        background: $light-gray;
    }

    img {
        width: 100%;
    }

    .btn {
        color: $white;
    }
}

section#donation {
    background: $blue-2;
    color: $white;

    .donate-desc {
        padding: 4rem;

        p {
            margin-bottom: $global-padding * 2;
        }
    }

    .donate-card {
        background: $white;
        min-height: 250px;
        width: 220px;
        color: $blue-2;
        margin: $global-margin;
        text-align: center;
        padding: $global-padding;
    }

    .donate-card-image {
        height: 110px;
    }

    .donate-card-image img {
        height: 100px;
        width: 100px;
    }

    .donate-card-text {
    }
}

.what-news-text {
    padding: 1.5rem 3rem;

    h4 {
        color: $blue-1;
    }
}

footer {
    background: $blue-3;
    .sign-up {
        margin-top: 3rem;
    }

    .email {
        border-radius: 20px;
        border: 2px solid $blue-1;
        color: $blue-1;
        max-width: 400px;
        margin: 40px auto 0;
        padding: 1rem;
        text-align: center;
        outline: none;
    }

    .email:focus {
        border: 2px solid $blue-1;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blue-1;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blue-1;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blue-1;
    }
}

.footer-right, .footer-left {
    background: url('/assets/img/footer-repeat.png') bottom repeat-x;
}

.footer-center {
    height: 650px;
    background: url('/assets/img/footer.png') 50% bottom no-repeat;
    max-width: 1000px;
}

@include breakpoint(small) {
    .footer-center {
       
    }
}

@include breakpoint(medium) {
    .footer-center {
        
    }
}

@include breakpoint(large) {
    .footer-center {
       
    }
}
