body {
    padding-top: 2rem;
    color: $blue-2;
}

.logo {
    background: url('/assets/img/logo.png') no-repeat;
    background-size: 100%;
    font-size: 2rem;
    margin-bottom: 2rem;
    max-width: 550px;
    min-height: 85px;

    .logo__strapline {
        font-size: 1rem;
        display: block;
        color: $blue-1;
    }
}

.section {
    margin: $section-margin auto;
}

.find-a-friend {
    width: 50%;
}

.grid-gallery {
    text-align: center;
    width: 700px;
    margin: auto;

    div {
        padding: .8rem;
    }
}

@media #{$small-only} {
    .menu {
        width: 150px;
    }

    .grid-gallery {
        width: 200px;
    }
}

nav {
    margin-bottom: $global-margin;
}

.scheme-wb2w {
    border: $btn-border--default solid $white;
    background: $blue-2;
    color: $white;
}

.scheme-g1g1b2 {
    border: $btn-border--default solid $green-1;
    background: $green-1 !important;
    color: $blue-2;
}

.scheme-wb1w {
    border: $btn-border--default solid $white;
    background: $blue-1;
    color: $white;
}

.scheme-b2wb2 {
    border: $btn-border--default solid $blue-2;
    background: $white;
    color: $blue-2;
}

.scheme-b1wb1 {
    border: $btn-border--default solid $blue-1;
    background: $white;
    color: $blue-1;
}

.btn--defaults {
    border-radius: $border-radius--default;
    background: none;
    font-weight: bold;
}

.btn-adopt {
    margin-right: $global-margin;
    float: right;
}

.btn-donate {
    margin-right: $global-margin;
    float: right;
}

.hero-section {
    background: url('/assets/img/hero.png') 50% no-repeat;
    background-size: cover;
    height: $hero-height;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-section-text {
        position: relative;
        top: 20%;
        color: $white;
        text-shadow: 1px 1px 2px $black;
    }
}

.hover-underline-menu {
    width: 100%;

    .menu {
        background-color: $menu-underline-from-center-bg;


        a {
            color: $blue-2;
            padding: 1.2rem 1.5rem;
            font-weight: bold;
        }

        .underline-from-center {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: calc(100% - #{$menu-underline-from-center-border-thickness});
                border-bottom: $menu-underline-from-center-border-thickness solid $blue-1;
                left: 50%;
                right: 50%;
                transition: all 0.5s ease;
            }

            &:hover::after {
                left: 0;
                right: 0;
                transition: all 0.5s ease;
            }
        }
    }
}

.what-we-do-desc {
    padding: 5rem 4rem;
    color: $white;
    overflow: auto;
}

section#what-we-do {
    background: $blue-1;

    img {
        width: 100%;
    }

    .btn {
        color: $white;
    }
}

section#donation {
    background: $blue-2;
    color: $white;

    .donate-desc {
        padding: 4rem;

        p {
            margin-bottom: $global-padding * 2;
        }
    }

    .donate-card {
        background: $white;
        margin: $global-margin;
        color: $blue-2;
    }
}


