
body {
    padding-top: 2rem;
    color: $blue-2;
}

.logo {
    background: url(#{$path-images}logo.png) no-repeat;
    background-size: 100%;
    font-size: 2rem;
    max-width: 550px;
    min-height: 85px;

    .logo__strapline {
        font-size: 1rem;
        display: block;
        color: $blue-1;
    }
}

.handwritten {
    font-family: 'Caveat Brush', cursive;
}

hr {
    border: 0;
    height: 21px;
    background: url(#{$path-images}hr.png) 50% 0 no-repeat;
    margin: 1em 0;
}

// buttons
.btn--defaults {
    border-radius: $border-radius--default;
    background: none;
    font-weight: bold;
}

.btn-adopt {
    margin: 20px 5px 0 0;
}

.btn-donate {
    margin: 20px 5px 0 0;
}

.btn-email {
    margin-top: 20px;
}

// color schemes
.bg-green {
    background: $green-1 !important;
}

.scheme-wb2w {
    border: $btn-border--default solid $white;
    background: $blue-2;
    color: $white;
}

.scheme-g1g1b2 {
    border: $btn-border--default solid $green-1;
    background: $green-1;
    color: $blue-2;
}

.scheme-g1g1b2:hover {
    border: $btn-border--default solid lighten($green-1, 50%);
    background: lighten($green-1, 50%);
    color: $blue-2;
}

.scheme-wb1w {
    border: $btn-border--default solid $white;
    background: $blue-1;
    color: $white;
}

.scheme-b2wb2 {
    border: $btn-border--default solid $blue-2;
    background: $white;
    color: $blue-2;
}

.scheme-b2wb2:hover {
    background: $blue-2;
}

.scheme-b1wb1 {
    border: $btn-border--default solid $blue-1;
    background: $white;
    color: $blue-1;
}

.scheme-b1wb1:hover {
    background: $blue-1;
}

.scheme-b1b1w {
    border: $btn-border--default solid $blue-1;
    background: $blue-1;
    color: $white;
}

.scheme-b1b1w:hover {
    border: $btn-border--default solid #1779ba;
    background: #1779ba;
}

// menu
.hover-underline-menu {
    width: 100%;    

    .nav {
        background-color: $menu-underline-from-center-bg;
        margin: 2rem;
        list-style-type: none;

        a {
            color: $blue-2;
            padding: 1.2rem 1.5rem;
            font-weight: bold;
        }

        ul {
            margin-left: none;
        }

        li {
            display: inline-block;
        }

        .underline-from-center {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: calc(100% - #{$menu-underline-from-center-border-thickness});
                border-bottom: $menu-underline-from-center-border-thickness solid $blue-1;
                left: 50%;
                right: 50%;
                transition: all 0.5s ease;
            }

            &:hover::after {
                left: 0;
                right: 0;
                transition: all 0.5s ease;
            }
        }
    }
}

// hero
.hero-section {
    background-size: cover;
    height: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-section-text {
        position: relative;
        top: 15%;
        color: $white;
        text-shadow: 1px 1px 2px $black;
    }

    h1 {
        font-size: 5rem;
    }
}

.inter-section {
    margin: $section-margin auto;
}

.inter-section-news {
    margin-top: 0;
}

// find a friend
.find-a-friend {
    width: 60%;
}

// what we do
.what-we-do-desc {
    padding: 4rem;
    color: $white;
    overflow: auto;
}

section#what-we-do {
    background: $blue-1;

    .bg-grey {
        background: $light-gray;
    }

    img {
        width: 100%;
    }

    .btn {
        color: $white;
    }
}

// donation
section#donation {
    background: $blue-2;
    color: $white;

    .donate-desc {
        padding: 4rem 1rem;

        p {
            margin-bottom: $global-padding * 2;
        }
    }

    .donate-card {
        background: $white;
        min-height: 250px;
        width: 220px;
        color: $blue-2;
        margin: $global-margin;
        text-align: center;
        padding: $global-padding;
    }

    .donate-card-image {
        height: 110px;
    }

    .donate-card-image img {
        height: 100px;
        width: 100px;
    }

    .donate-card-text {
        padding: $global-padding;
        padding-top: 0;

        h3 {
            color: $blue-1;
        }
    }
}

// what news
.what-news-text {
    padding: 1.5rem 2rem;

    h4 {
        color: $blue-1;
    }
}

// footer
footer {
    background: $blue-3;
    .sign-up {
        margin-top: 4rem;
    }

    .email {
        border-radius: 20px;
        border: 2px solid $blue-1;
        color: $blue-1;
        max-width: 400px;
        margin: 40px auto 0;
        padding: 1rem;
        text-align: center;
        outline: none;
    }

    .email:focus {
        border: 2px solid $blue-1;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blue-1;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blue-1;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blue-1;
    }
}

.footer-repeat {
    background: url(#{$path-images}fence_repeat.gif) bottom repeat-x;
}

.footer-center {
    height: 650px;
    background-position: bottom;
    background-repeat: no-repeat;
}

// responsive styles
@include breakpoint(small only) {
    .what-news-text {
        padding: 1.5rem 4rem;
        text-align: center;
    }

    // hero
    .hero-section {
        h1 {
            font-size: 3rem;
        }
    }
}

@include breakpoint(medium down) {
    .hover-underline-menu {
        .nav {
            li {
                display: block;
                padding: .8rem;
            }
        }
    }

    .what-we-do-desc {
        padding: 4rem 3rem;
    }

    .hero-section {
        background-position: 74% 0% !important;
    }
}

@include breakpoint(medium only) {
    .what-news-text {
        padding: 1.5rem 6rem;
        text-align: center;
    }

    section#donation .donate-desc {
        padding: 4rem 2rem;
    }
}

@include breakpoint(large up) {
    section#donation .donate-desc {
        padding: 4rem 3rem;
    }
}

.image-cell {
    position: relative;
}

.image-cell img {
    width: 260px;
    height: 260px;
}

.overlay {
    position: absolute;
    top: 0;
    margin-top: $global-margin;
    width: 260px;
    height: 260px;
    padding-top: 25%;
    opacity: 0;
    font-size: 4rem;
    line-height: 1.2;
    transition-duration: 1s;
    transition-delay: 0s;
        animation-name: fadeItOut;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
}

.overlay:hover {
    background: $blue-1;
    opacity: 0.8;
    color: white;
    transition-delay: 0s;
}
