
@font-face {
    font-family: ludicrous;
    src: url(/assets/fonts/Ludicrous.woff);
}

@font-face {
    font-family: galanoBold;
    src: url(/assets/fonts/Galano-Grotesque-Bold.woff);
}

@font-face {
    font-family: galanoSemiBold;
    src: url(/assets/fonts/Galano-Grotesque-Semi-Bold.woff);
}

@font-face {
    font-family: galanoMedium;
    src: url(/assets/fonts/Galano-Grotesque-Medium.woff);
}

.handwritten {
    font-family: ludicrous;
}

.galano-medium {
    font-family: galanoMedium;
}

.galano-bold {
    font-family: galanoBold;
}

.galano-semi-bold {
    font-family: galanoSemiBold;
}