
footer {
    background: $blue-3;

    .sign-up {
        margin-top: 4rem;
    }

    .email {
        border-radius: 20px;
        border: 2px solid $blue-1;
        color: $blue-1;
        max-width: 400px;
        margin: 40px auto 0;
        padding: 1rem;
        text-align: center;
        outline: none;
    }

    .email:focus {
        border: 2px solid $blue-1;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blue-1;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blue-1;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blue-1;
    }
}

.footer-repeat {
    background: url(#{$path-images}fence_repeat.gif) bottom repeat-x;
}

.footer-center {
    height: 650px;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 $global-padding;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;

    .foot-notes {
        color: white;
    }
}

.social {
    height: 120px;
    margin-left: 0;
    li {
        display: inline-block;
        margin: $global-margin;
    }

    a {
        width: 35px;
        height: 35px;
        display: block;
    }

    .facebook {
        background: url('/assets/img/facebook.svg') no-repeat 50%;
    }

    .youtube {
        background: url('/assets/img/youtube.svg') no-repeat 50%;
    }

    .instagram {
        background: url('/assets/img/instagram.svg') no-repeat 50%;
    }
}
