
@import 'fonts';
@import 'buttons';
@import 'color-schemes';
@import 'header';

.mt-30 {
    margin-top: 30px;
}

hr {
    border: 0;
    height: 21px;
    background: url(#{$path-images}hr.png) 50% 0 no-repeat;
    margin: 1em 0;
}

// hero
.hero-section {
    background-size: cover;
    height: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-section-text {
        position: relative;
        top: 15%;
        color: $white;
        text-shadow: 1px 1px 2px $black;
    }

    h1 {
        font-size: 5rem;
    }
}

.inter-section {
    margin: $section-margin auto;
}

.inter-section-news {
    margin-top: 0;
}

.find-a-friend {
    width: 60%;
}

// what we do section
section#what-we-do {
    background: $blue-1;

    .bg-grey {
        background: $light-gray;
    }

    img {
        width: 100%;
    }

    .btn {
        color: $white;
    }
}

.volunteer-a {
    background: $white;

    .bg-grey {
        background: $light-gray;
    }

    img {
        width: 100%;
    }

    .btn {
        color: $blue-2;
    }
}

.what-we-do-desc, .volunteer-desc, .legacy-desc {
    padding: 4rem;
    overflow: auto;
}

.what-we-do-desc {
    color: $white;
}

.volunteer-desc {
    color: $blue-2;
}

.legacy-desc {
    color: $white;
    background: $blue-1;
    height: 100%;
}

// donation section
section#donation {
    background: $blue-2;
    color: $white;
    
    .wrapper {
        padding: 3rem 0;
    }

    .donate-desc {
        padding: 0rem 1rem;

        p {
            margin-bottom: $global-padding * 2;
        }
    }

    .donate-card-wrapper {
        padding: 2rem 0;
    }

    .donate-card {
        background: $white;
        width: 220px;
        color: $blue-2;
        text-align: center;
        padding: 2rem $global-padding $global-padding;
    }

    .donate-card:hover {
        background: $green-1 !important;
        cursor: pointer;
    }

    .donate-card-image {
        height: 110px;
    }

    .donate-card-image img {
        height: 100px;
        width: 100px;
    }

    .donate-card-text {
        padding: $global-padding;
        padding-top: 0;

        h3 {
            color: $blue-1;
        }
    }
}

// what news section
.what-news-text {
    padding: 1.5rem 1rem;
    width: 260px;
    margin: auto;

    h4 {
        color: $blue-1;
    }
}

.image-cell {
    position: relative;
}

.image-cell .wrapper {
    width: 260px;
    height: 260px;
    margin: auto;
}

.image-cell img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: relative;
    top: -275px;
    left: 0;
    margin: $global-margin 0 auto auto;
    width: 260px;
    height: 260px;
    padding-top: 25%;
    opacity: 0;
    font-size: 4rem;
    line-height: 1.2;
    transition-duration: 1s;
    transition-delay: 0s;
}

.overlay:hover {
    background: $blue-1;
    opacity: 0.8;
    color: white;
    transition-delay: 0s;
}

.more {
    color: $blue-1;
}

.off-canvas {
    background: $blue-2;
    color: white;
    font-size: 1.5rem;
}

.oc-tel {
    margin-top: 3rem;
    padding: $global-padding;
    span {
        color: $blue-1;
    }
}

.oc-nav {
    list-style: none;
    margin: 0;
    li {
        display: block;
        width: 100%;
        padding: .4rem 1rem;
    }

    li:hover {
        background: $blue-1;
    }

    a {
        color: white;
        display: block;
        width: 100%;
    }

    a:active {
        border: none;
    }
}

#here-to-help {
    .cell {
        background: $blue-2;
        color: $white;
        padding: 5em;
    }

    p {
        font-size: 3em;
        width: 70%;
        margin: 1em auto;
    }

    img {
        width: 200px;
    }
}

#article {
    padding: 4rem 10rem;

    .body {
        margin-top: 4rem;
    }

    h2 {
        color: $blue-1;
    }
}

@import 'footer';
@import 'adaptions';