

<section id="acheivements">
    <div class="cell text-center">
        <h3 class="galano-medium">In 2018 our rescue <br />was responsible for...</h3>
        <div class="grid-x align-center">
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/cat_house.svg" alt="" />
                <p><span>2341</span><br />new homes have been found</p>
            </div>
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/cat_food2.svg" alt="" />
                <p><span>6897</span><br />tins of cat food opened</p>
            </div>
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/cat_face.svg" alt="" />
                <p><span>899</span><br />cats taken in and cared for</p>
            </div>
        </div>
    </div>
</section>
