
<section id="adopt" class="std-page-padding">
    <div class="wrapper text-center">
    <h2 class="galano-semi-bold">Meow, my name is Bob</h2>

    <div class="body mt-30">
        <p>
            <table id="cat-details">
                <tr>
                    <td class="text-right">Age</td>
                    <td class="text-left">7 years</td>
                </tr>
                <tr>
                    <td class="text-right">Breed</td>
                    <td class="text-left">Domestic Short-hair</td>
                </tr>
                <tr>
                    <td class="text-right">Sex</td>
                    <td class="text-left">Male</td>
                </tr>
                <tr>
                    <td class="text-right">Ideal living environment</td>
                    <td class="text-left">Can live with kids and other animals</td>
                </tr>
            </table>
        </p>
        <p>
            <h3 class="galano-semi-bold">More about me...</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis elit id ex placerat, et molestie tortor
            finibus. Integer sollicitudin lorem eu metus scelerisque vehicula. Nunc eget felis sem. Aenean non velit sed massa
            feugiat dictum vitae et ipsum. Aenean at libero in est vulputate commodo. Vestibulum eu nisi ornare, suscipit
            mauris dignissim, sagittis nunc. Praesent vitae viverra libero.
        </p>

        <h3 class="handwritten">Would you like to adopt me?</h3>
        <p>
            For an appointment to view, don't hesitate to contact us on <span class="tel">01590 678663</span>
            or <span class="tel">678223</span>
        </p>

        <div class="btn-panel">
            <a href="#" class="button btn--defaults scheme-b1wb1">Trixie</a>
            <a href="#" class="button btn--defaults scheme-b2wb2">Meet all our cats</a>
            <a href="#" class="button btn--defaults scheme-b1wb1">Tia</a>
        </div>

    </div>

    </div>
</section>

