
<section id="contact">
    <div class="grid-x">
        <div class="cell small-12 medium-12 large-6 bg-grey">
            <img src="assets/img/whatwedo.png" alt="" />
        </div>
        <div class="cell small-12 medium-12 large-6">
            <div class="contact-desc text-left">
                <h4 class="galano-semi-bold mt-30">
                    Lymington Cat & Kitten Rescue from our Highfield Avenue HQ
                </h4>

                <p class="mt-30">
                    We are a charity that care for cats. Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <p class="mt-30">
                    <a href="#" class="button btn--defaults scheme-wb2w">Discover more about our charity</a>
                </p>
            </div>
        </div>
    </div>
</section>