
<section id="donation" style="padding:20px;">
    <div class="grid-x">
        <div class="cell small-12 medium-12 large-6">
            <div class="donate-desc text-center">
                <h2 class="galano-semi-bold">Make a donation</h2>
                <p>
                    We are a charity that care for cats. Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a
                    galley of type
                    and scrambled it to make a type specimen book.
                </p>
                <div class="text-center">
                    <a href="#" class="button btn--defaults scheme-wb2w btn-monthly">Monthly</a>
                    <a href="#" class="button btn--defaults scheme-wb2w">One-off</a>
                </div>
                <div class="text-center">
                    <a href="#" class="button btn--defaults btn--discover scheme-wb2w">Setup monthly donation</a>
                </div>
            </div>
        </div>
        <div class="small-12 medium-12 large-6 donate-card-wrappper">
            <div class="grid-x grid-margin-x grid-margin-y align-center small-up-1 medium-up-2">
                <div class="cell donate-card">
                    <div class="donate-card-image">
                        <img src="/assets/img/cat_food.svg" alt="" />
                    </div>
                    <div class="cell donate-card-text">
                        <h3 class="handwritten">Donate £2</h3>
                        <span>Help feed a cat for a week</span>
                    </div>
                </div>
                <div class="cell donate-card">
                    <div class="donate-card-image">
                        <img src="/assets/img/cat_medical.svg" alt="" />
                    </div>
                    <div class="cell donate-card-text">
                        <h3 class="handwritten">Donate £5</h3>
                        <span>Help feed a cat for a week</span>
                    </div>
                </div>
                <div class="cell donate-card">
                    <div class="donate-card-image">
                        <img src="/assets/img/cat_toy.svg" alt="" />
                    </div>
                    <div class="donate-card-text">
                        <h3 class="handwritten">Donate £10</h3>
                        <span>Help feed a cat for a week</span>
                    </div>
                </div>
                <div class="cell donate-card">
                    <div class="donate-card-image">
                        <img src="/assets/img/cat_basket.svg" alt="" />
                    </div>
                    <div class="donate-card-text">
                        <h3 class="handwritten">Donate £20</h3>
                        <span>Help feed a cat for a week</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>