
<section id="find-a-friend">
    <div class="inter-section find-a-friend">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 cell text-center">
                <h2 class="galano-semi-bold">Find a friend</h2>
                <p>
                    These cats are looking for their purrrfect companions.
                    Meet the cats below and discover their personalities and stories.
                </p>
            </div>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb4.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Trixie</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb2.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bob</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb6.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Tia</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb7.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bagpus</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb8.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Tiddles</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb9.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bagpus</div>
                        <a href="adopt.html" class="button btn--defaults scheme-wb1w">More about me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inter-section text-center">
        <a href="#" class="button btn--defaults scheme-b2wb2">Meet all our cats</a>
    </div>
</section>