
<footer>
    <div class="grid-x align-center">
        <div class="cell footer-repeat">
            <div class="cell footer-center text-center" data-interchange="[/assets/img/fence_small.jpg, small], [/assets/img/fence_small.jpg, medium], [/assets/img/fence_large.jpg, large]">
                <div class="sign-up">
                    <h2 class="galano-semi-bold">Stay in Touch</h2>
                    <p>Get all the latest purrs, meows and news by signing up to our monthly newsletter</p>
                    <form>
                        <input class="email input" type="email" placeholder="Email address">
                        <a href="#" class="button btn--defaults scheme-b1b1w btn-email">Sign up</a>
                    </form>
                </div>

                <div class="footer-bottom">
                    <ul class="social">
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="youtube" href="#"></a></li>
                        <li><a class="instagram" href="#"></a></li>
                    </ul>
                    <div class="foot-notes">
                        <p>Lymington Cat and Kitten Rescue &copy 2018 A Cuco Creative Website Design and Build</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>