
<header>
    <div class="grid-x align-center logo-wrapper">
        <div class="cell small-8 medium-8 large-9 logo" data-interchange="[/assets/img/logo_small.jpg, small], [/assets/img/logo.png, medium]">
            <i class="fa fa-bars toggle-open" data-toggle="offCanvas"></i>
        </div>

        <div class="small-12 medium-12 large-3 clearfix text-center">
            <a href="/adopt.html" class="button btn--defaults scheme-b2wb2 btn-adopt">Adopt</a>
            <a href="/donate.html" class="button btn--defaults scheme-b2wb2 btn-donate">Donate</a>
        </div>
    </div>
</header>