
<nav class="hover-underline-menu" data-dropdown-menu>
    <div class="grid-x text-center">
        <div class="small-12">
            <hr />
            <ul class="menu nav dropdown galano-bold align-center">
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="#">History</a></li>
                <li><a href="/shops.html">Our Shops</a></li>
                <li>
                    <a href="/support.html">Support Us</a>
                    <ul class="menu text-left galano-medium">
                        <li><a href="/volunteer.html">Volunteer</a></li>
                        <li><a href="/legacy.html">Leave a Legacy</a></li>
                        <li><a href="#">Found/Lost a cat?</a></li>
                    </ul>
                </li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- data-menu-underline-from-center -->
