
<nav class="hover-underline-menu" data-menu-underline-from-center>
    <div class="grid-x text-center">
        <div class="small-12">
            <hr />
            <ul class="nav galano-bold">
                <li><a href="#">About</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Our Shops</a></li>
                <li><a href="/support-us.html">Support Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>