
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <i class="fa fa-chevron-left toggle-close" data-toggle="offCanvas"></i>
    <div class="oc-tel galano-bold">
        <span>Call</span> 01202 123456
    </div>
    <ul class="oc-nav galano-bold">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Our Shops</a></li>
        <li><a href="/support-us.html">Support Us</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>