
<section id="news">
    <div class="inter-section text-center">
        <h2 class="galano-semi-bold">What news pussycat</h2>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/thumb1.png" alt="" />
                <div class="what-news-text text-left">
                    <h4>Sleepy Days</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        <a class="more">Read more...</a>
                    </p>
                </div>
            </div>
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/thumb2.png" alt="" />
                <div class="what-news-text text-left">
                    <h4>Sleepy Days</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        <a class="more">Read more...</a>
                    </p>
                </div>
            </div>
            <div class="cell small-12 medium-12 large-4 text-center">
                <img src="/assets/img/thumb3.png" alt="" />
                <div class="what-news-text text-left">
                    <h4>Sleepy Days</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        <a class="more">Read more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="inter-section text-center inter-section-news">
    <a href="#" class="button btn--defaults scheme-b2wb2">View the Mog Blog</a>
</div>