

<section id="team">
    <div class="cell text-center">
        <h3 class="galano-medium">Meet the team...</h3>
        <p>Here are the amazing people that make everything possible</p>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb4.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Trixie</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb2.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bob</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb6.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Tia</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb4.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Trixie</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb2.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bob</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb6.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Tia</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb4.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Trixie</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb2.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Bob</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
            <div class="image-cell cell small-12 medium-12 large-4 text-center">
                <div class="wrapper">
                    <img src="/assets/img/thumb6.png" alt="" />
                    <div class="overlay">
                        <div class="handwritten">Tia</div>
                        <span class="jobtitle">Job title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
