
<section id="volunteer">
    <div class="grid-x volunteer-a">
        <div class="cell small-12 medium-12 large-6 bg-grey">
            <img src="assets/img/whatwedo.png" alt="" />
        </div>
        <div class="cell small-12 medium-12 large-6 text-center">
            <div class="panel text-left">
                <h2 class="galano-semi-bold">Become a volunteer</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis sagittis tellus, id mollis tellus dictum ac. In
                    dui dui, tincidunt a fermentum in, semper sit amet erat. Suspendisse id quam ligula. Etiam volutpat turpis lobortis
                    tortor tempor tincidunt. Ut sollicitudin finibus gravida. Proin quis sapien diam.
                </p>
                <p class="mt-30">
                    <a href="#" class="button btn--defaults scheme-b2wb2">How to join our team</a>
                </p>
            </div>
        </div>
    </div>
    <div class="grid-x volunteer-b">
        <div class="cell small-12 medium-12 large-6 text-left">
            <div class="panel text-left bg-blue1">
                <h2 class="galano-semi-bold">Leaving a legacy</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis sagittis tellus, id mollis tellus dictum ac. In
                    dui dui, tincidunt a fermentum in, semper sit amet erat. Suspendisse id quam ligula. Etiam volutpat turpis lobortis
                    tortor tempor tincidunt. Ut sollicitudin finibus gravida. Proin quis sapien diam.
                </p>
                <p class="mt-30">
                    <a href="#" class="button btn--defaults scheme-wb1w">How to leave a legacy</a>
                </p>
            </div>
        </div>
        <div class="cell small-12 medium-12 large-6 bg-grey">
            <img src="assets/img/whatwedo.png" alt="" />
        </div>
    </div>
</section>

{{> here_to_help }}
