
<section id="what-we-do">
    <div class="grid-x">
        <div class="cell small-12 medium-12 large-6 bg-grey">
            <img src="assets/img/whatwedo.png" alt="" />
        </div>
        <div class="cell small-12 medium-12 large-6">
            <div class="panel text-center bg-blue1">
                <h2 class="galano-semi-bold">What we do</h2>

                <p>
                    We are a charity that care for cats. Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <p>
                    <a href="#" class="button btn--defaults scheme-wb1w">Discover more about our charity</a>
                </p>
            </div>
        </div>
    </div>
</section>